@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply font-nunito bg-neutral-100 text-neutral-600 overflow-x-clip;
  }

  main {
    @apply motion-safe:animate-reveal;
  }
  section {
    @apply px-4 md:px-8 xl:px-0 mx-auto max-w-[1192px];
  }

  :where(h1, h2, h3, h4, h5, h6) {
    @apply text-neutral-900;
  }

  p {
    @apply text-preset-6;
  }

  label[role="option"] {
    @apply flex items-center p-2 gap-2 cursor-pointer accent-neutral-900 active:border active:border-neutral-900 active:rounded-[10px] transition-[border] ease-in duration-150;
  }
}
@layer utilities {
  a.nav-link {
    @apply block text-preset-7 px-2 py-3 lg:p-0 relative after:absolute after:left-0 after:bottom-0 after:h-[3px] after:w-0 after:bg-orange-500 after:transition-all after:duration-150;
  }

  a.nav-link:is(:hover, :focus-visible, [aria-current="page"])::after {
    @apply w-full;
  }

  :where(button, a:not(.nav-link)) {
    @apply hover:border-neutral-900 focus-visible:ring-2 focus-visible:ring-orange-500 outline-none;
  }
}

@layer components {
  .btn {
    @apply text-center text-preset-5 inline-block  bg-neutral-900 text-white rounded-[10px] hover:bg-neutral-600 transition ease-in-out duration-150;
  }
  .btn-lg {
    @apply inline-block px-8 py-4;
  }
  .btn-sm {
    @apply w-full lg:w-fit py-3 px-4;
  }
}
